
<head>
    @*<link href="@Url.Content("~/Content/css/jquery-ui.css")" rel="stylesheet" />*@
</head>
<body>
    <!-- PopUp for Forget Password-->

    <div id="openDiv">


        <div class="popup_inner">
            <table>
                <tr>
                    <td>UserName</td>
                    <td><input  type="text" /></td>
                </tr>
                <tr>
                    <td><label>Question</label></td>
                    <td><div class="question_rightsec" id="divQuestionnew"></div></td>
                </tr>
                <tr>
                    <td>Answer</td>
                    <td><input type="password" id="Password" name="Password" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="timer">
                            <h4>Question Timer</h4>
                            <div id="retroclockbox_sm"></div>
                        </div>
                    </td>

                </tr>

                <tr>
                    <td><br /><input class="grey_button" id="btnForgetPassword" type="submit" value="Submit" /></td>
                    <td align="left"><br /><input class="grey_button" id="btnForgetPassword" type="submit" value="Close" /></td>

                </tr>

                @*<tr>
                    <td colspan="2">
                        <input type="hidden" name="hdnQuesId" id="hdnQuesId" />
                        <input type="hidden" name="hdnChangeQuesId" id="hdnChangeQuesId" value="@ViewData["QuestId"].ToString()" />
                        <input type="hidden" name="hdnTimerVal" id="hdnTimerVal" value="@ViewData["Timer"].ToString()" />
                        <input type="hidden" id="hdnQues" name="hdnQues" value="@ViewData["Questions"].ToString()" />

                    </td>

                </tr>*@

            </table>
        </div>
    </div>

    <!--end forget password-->

    @*<script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/js/jquery-ui-1.8.24.min.js"></script>
    <script type="text/javascript" src="js/jquery.flipcountdown.js"></script>
    <script>

        if ($('#hdnError').val() != "") {

            $('#divInvalid').html($('#hdnError').val());
        }

        var start = 5;// $('#hdnTimerVal').val();
        var x = 5;//$('#hdnTimerVal').val();
        var y = 1
        var k = 'start';
        if (k == 'start') {
            GetQuestion();
            k = 'end';
        }

        $(function () {
            var NY = Math.round((new Date('1/04/2014 00:00:01')).getTime() / 1000);

            $('#retroclockbox_sm').flipcountdown({
                size: 'sm',
                tick: function () {
                    var nol = function (h) {
                        return h > 9 ? h : '0' + h;
                    }
                    setTimeout("CallTimer()", 1000)
                    return nol(x)
                }
            });
        });




        function CallTimer() {

            if (x > 0) {

                return x = x - y;
            }
            else {
                GetQuestion();
                return x = start
            }
        }

        function GetQuestion() {

            var arrQuest = $('#hdnQues').val().split('|');
            var arrQuestId = $('#hdnChangeQuesId').val().split('|');
            var value = "";
            var questNo = "";


            var item = arrQuestId[Math.floor(Math.random() * arrQuestId.length)];

            if (item != null) {

                value = arrQuest[item];
                questNo = parseInt(item);// + 1;

                $('#divQuestion').html(value);
                if (arrQuest.length == questNo)
                    $('#hdnQuesId').val(questNo);
                else
                    $('#hdnQuesId').val(questNo + 1);

                //$('#hdnQuesId').val($('#hdnQuesId').val());

            }

        }


    </script>


    <script>
        $(function () {
            var i = 1000;
            $('#retroclockbox1').flipcountdown();
            var i = 1;
            $('#retroclockbox_counter').flipcountdown({
                tick: function () {
                    return i++;
                }
            });

        })
    </script>

    <script>
        $(function () {
            $('#retroclockbox_sm').flipcountdown({ size: 'sm', showHour: false, showMinute: false, showSecond: true });

        })</script>*@



</body>