@model Dictionary<int, string>
<select id="LocalityName" multiple>
    <option value="0" selected="selected">Select</option>
    @foreach (KeyValuePair<int, string> value in Model)
    {
        <option value='@value.Key.ToString()'>@value.Value</option>
    }
</select>
