@model Dictionary<decimal, string>
<select>
    <option value=''>Select</option>
    @foreach (KeyValuePair<decimal, string> value in Model)
    {
        <option value='@value.Key.ToString()'>@value.Value</option>
    }
</select>